* {
  padding: 0;
  margin: 0;
}

.contentCover blockquote {
  font-style: italic;
  margin: 10px 0;
  padding: 0px 20px;
  font-size: 2rem;
  position: relative;
}
.contentCover blockquote::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 3px;
  height: 100%;
  background: green;
}
.contentCover ol {
  padding: revert;
}
.contentCover ol li {
  margin: 5px 0;
  list-style-type: decimal;
  display: list-item;
}
.contentCover ul li {
  margin: 10px 0;
  position: relative;
  color: var(--Text-5);
}
.contentCover ul li p {
  /* padding-left: 22px; */
  letter-spacing: 0.1px;
  color: var(--Text-2);
}
.contentCover ul li::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--Text-4);
  left: 0;
  top: 10%;
}

.gobackBtn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  background-color: var(--Primary);
  color: var(--White);
  padding: 6px 5px 6px 35px;
  border-radius: 28px;
  position: relative;
  z-index: 1;
  width: max-content;
  font-weight: 500;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  overflow: hidden;
}
.gobackBtn:hover {
  background-color: white;
  border: 1px solid var(--dark-green);
  color: var(--dark-green) !important;
}
